server:
  port: ${PORT:8080}
  forward-headers-strategy: framework

spring:
  application:
    name: gateway-service
  main:
    web-application-type: reactive
  jackson:
    time-zone: Asia/Taipei
    serialization:
      write-dates-as-timestamps: false

  cloud:
    discovery:
      enabled: false
    gateway:
      default-filters:
        - AddResponseHeader=X-Request-By, gateway
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowed-origin-patterns:
              - "*"
            allowed-origins:
              - "*"
            allowed-methods:
              - "*"
            allowed-headers:
              - "*"
            allow-credentials: false
      routes:
        - id: product-supplier-products
          uri: ${PRODUCT_SVC_URI:http://localhost:8082}
          order: -1
          predicates:
            - Path=/suppliers/*/products/**
        - id: user
          uri: ${USER_SVC_URI:http://localhost:8081}
          predicates:
            - Path=/users/**
        - id: product
          uri: ${PRODUCT_SVC_URI:http://localhost:8082}
          predicates:
            - Path=/products/**, /categories, /categories/**
        - id: order
          uri: ${ORDER_SVC_URI:http://localhost:8083}
          predicates:
            - Path=/orders/**, /cart/**, /stats/**
        - id: leader
          uri: ${LEADER_SVC_URI:http://localhost:8084}
          predicates:
            - Path=/leaders/**, /communities/**
        - id: supplier
          uri: ${SUPPLIER_SVC_URI:http://localhost:8085}
          predicates:
            - Path=/shipping/**, /suppliers/**
        - id: admin
          uri: ${ADMIN_SVC_URI:http://localhost:8086}
          predicates:
            - Path=/admin/**
        - id: geo
          uri: ${USER_SVC_URI:http://localhost:8081}
          predicates:
            - Path=/geo/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO
    reactor.netty: WARN

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    disable-swagger-default-url: true
    display-request-duration: true
    urls:
      - name: user-service
        url: /users/v3/api-docs
      - name: product-service
        url: /products/v3/api-docs
      - name: order-service
        url: /orders/v3/api-docs
      - name: leader-service
        url: /leaders/v3/api-docs
      - name: supplier-service
        url: /suppliers/v3/api-docs
      - name: admin-service
        url: /admin/v3/api-docs
